@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/mixins';

.Updates {
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-top: .75rem;
  padding-bottom: 1.5rem;

  .update {
    margin-bottom: .75rem;
    width: 100%;
    line-height: 1.26;
  }

  .update:first-of-type a {
    font-weight: bold;
  }

  .updateDate {
    padding-top: .25rem;
    text-transform: uppercase;
    font-size: .841rem;
  }
}

.badgeContainer {
  padding: 0 0 1rem;
  width: 100%;
  text-transform: uppercase;
}

.badge {
  background-color: #002878;
  color: white;

  @supports (background-color: var(--accent, #002878)) {
    background-color: var(--accent, #002878);
    color: var(--accent-text, white);
  }
}

.moreLink {
  margin-left: auto;
  padding: 0 1.5rem .75rem;
  text-transform: uppercase;
  font-size: .891rem;
}

.excerpt {
  font-size: .891rem;
  line-height: 1.4;
  p {
    margin-bottom: .25rem;
  }
}

:global(.continue-link) {
  display: block;
  padding-top: .5rem;
  color: #d14124;
  text-align: right;
  font-size: .891rem;
}
